<div class="container my-5 checkout-container">
  <div class="row">
    <div class="col-lg-8 mb-4 mb-lg-0 checkout-left">
      <app-customer-information></app-customer-information>
      <app-shipping-address></app-shipping-address>
      <app-payment></app-payment>
      <app-review-place-order></app-review-place-order>
    </div>
    <div class="col-lg-4 checkout-right">
      <div class="checkout-right-inner">
        <app-order-summary></app-order-summary>
      </div>
    </div>
  </div>
</div>
