<div class="container my-4 cart-container">
  <div *ngIf="cartCount == 0 else hasItems" class="text-center py-5">
    <div class="empty-cart-msg mb-3">Your cart is empty</div>
    <div>
      <button class="btn btn-primary continue-center" (click)="onContinueShopping()">← Continue Shopping</button>
    </div>
  </div>

  <ng-template #hasItems>
    <div class="row">
      <div class="col-lg-8 cart-left">
        <div class="cart-header-row d-none d-lg-flex">
          <div class="flex-grow-1">PRODUCT</div>
          <div style="width:110px; text-align:center">PRICE</div>
          <div style="width:140px; text-align:center">QUANTITY</div>
          <div style="width:100px; text-align:right">TOTAL</div>
        </div>
        <div class="py-3">
          <app-cart-list></app-cart-list>

          <div class="promo-card mb-3 mt-3 d-none">
            <div class="input-group">
              <input
                type="text"
                class="form-control promo-input"
                placeholder="Promo Code"
                [(ngModel)]="promoCode"
              />
              <button class="btn btn-link promo-apply" type="button" (click)="onApplyPromo()">
                Apply
              </button>
            </div>
          </div>

          <div *ngIf="promoSuccess" class="text-success small mb-2">{{ promoSuccess }}</div>
          <div *ngIf="promoError" class="text-danger small mb-2">{{ promoError }}</div>
        </div>
      </div>
      <div class="col-lg-4 cart-right">
        <div class="cart-right-inner">
          <app-cart-summary (proceed)="onProceedToCheckout()" (continue)="onContinueShopping()"></app-cart-summary>
        </div>
      </div>
    </div>
  </ng-template>
</div>
